
/* Citation: everything was learned from lab or from trial and error unless there is separate citation */

.box {
    display: flex;
    margin: 0 auto;
}

.product-listing-box {
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
}

.detailed-product-listing-box {
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 2rem;
}

.detailed-product-listing {
    margin: 1rem;
    max-width: 500px;
}

.detailed-product-listing .product-ingredients{
    font-weight: lighter;
    max-width: 500px;
}

.product-listing {
    max-width: 360px;
    padding: 1rem;
    justify-content: left;

}

.product-name {
    color: rgb(161, 97, 108);
    font-size: 1.2rem;
    margin: 0.5rem 0;
}

.product-description {
    min-height: 1rem;
    margin: 0;
}

.product-price{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 1.5rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}

.detailed-product-listing h4 {
    margin-bottom: 2rem;
}

.detailed-product-listing h5 {
    margin: 2rem 0;
}

.nav-box {
    justify-content: space-evenly;
    background-color: #e2ecdf;
    padding: 0.25rem 20rem;
}

.box-item-nav { 
	display: inline-block;
	color: #393433;
	font-size: 1.25rem;
    font-weight: bold;
	padding: 2em;
	text-decoration: none;
}

.checkout-cart-box {
    background-color: #e2ecdf;
    flex-wrap: wrap;
    max-width: 900px;
    border-radius: 1em;
    padding-top: 1rem;
}

.checkout-heading {
    text-align: center;
}

.checkout-item-box {
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 1rem 6rem;
    width: 100%;
}

.product-display h4 {
    font-size: 16px;
    max-width: 150px;
    text-align: center;
    margin: 0 0 0.5rem 0;
}

.product-display img {
    max-width: 150px;
    justify-self: center;
}

.checkout-price {
    display: flex;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 24px;
    padding: 1rem 1rem;
}

.checkout-total {
    width: 100%;
    font-size: 24px;
    font-family: 'Bebas Neue', sans-serif;
    text-align: center;
    background-color: white;
    margin: auto 5rem;
    padding: 0.8rem;
    border-radius: 0.5rem;
}

.counter{ /* Citation: learned how to make button from https://uxplanet.org/how-to-create-a-shopping-cart-ui-using-html-css-e5db3cd55aa0 */
    max-width: 300px;
    width: 100%;
    padding: 1rem 0;
    justify-content: space-evenly;
    align-items: center;
}

.counter-button { /* Citation: learned how to make button from https://uxplanet.org/how-to-create-a-shopping-cart-ui-using-html-css-e5db3cd55aa0 */
    display: flex;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background-color: #ffffff;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    color: #393433;
}

.counter {
    display: flex;
    font-size: 18px;
    font-weight: bold;
}

.button {
    font-weight: bold;
    font-size: 18px;
    max-width: fit-content;
    padding: 5rem;
    color: #393433;
    background-color:#e2ecdf;
    border-radius: 0.5rem;
}

.checkout-button {
    font-size: 18px;
    font-weight: bold;
    max-width: 82%;
    border-radius: 0.5rem;
    margin: 0 4rem;
}

.text {
    height: 20%;
}

.nav-menu {
    display: flex;
    justify-content: center;
    background-color: #e2ecdf;
    padding: 10px 200px;
    border-radius: 15px;
    font-weight: bold;
  }
  
  .nav-menu a {
    flex: 1;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    color: #393433;
    font-weight: bold;
    border-radius: 15px;
  }
  
  .nav-menu a:hover, .nav-menu a:focus {
    color: #393433;
    background-color: #c9e4bf;
    border-radius: 15px;
  }
  
  @media (max-width: 60rem) {
    .nav-menu {
      flex-wrap: wrap;
      padding: 10px 150px;
    }
    
    .nav-menu a {
      flex: none;
      width: 50%;
    }
  }

  input[type="radio"] {
    accent-color: #f85d5d !important;
    width: 100%;
    height: 1.25em;
  }

.about-box {
    background-color: #e2ecdf;
    padding: 2rem 2rem;
    display: flex;
    flex-wrap: wrap;
    margin: 2rem;
}

#about-text .about-box{
    background-color: white;
    color: black;
    padding: 2rem 2rem;
    font-family: 'Nunito Sans', sans-serif;
}

.product-showcase {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

.product-card {
    width: 25%;
    margin: 1rem;
    padding: 1rem;
    background-color: #f0f0f0;
    border-radius: 5px;
    text-align: center;
  }

  .product-card img{
    width:90%;
  }
