
/* Citation: everything was learned from lab or from trial and error unless there is separate citation */


.box {
    display: flex;
    margin: 0 auto;
}

.product-listing-box {
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
    max-width: 1200px;
}

.detailed-product-listing-box {
    flex-wrap: wrap;
}

.detailed-product-listing {
    margin: 4rem;
    max-width: 600px;
}

.detailed-product-listing .product-ingredients{
    font-weight: lighter;
    max-width: 600px;
}

.product-listing {
    max-width: 360px;
    padding: 1rem;
    justify-content: left;
}

.product-name {
    color: rgb(161, 97, 108);
    font-size: 1.2rem;
}

.product-description {
    min-height: 1rem;
    margin: 2rem 0;
}

.product-price {
    font-size: 1rem;
    font-weight: bold;
}

.nav-box {
    justify-content: space-evenly;
    background-color: #e2ecdf;
    padding: 0.25rem 20rem;
}

.box-item-nav { 
	display: inline-block;
	color: #393433;
	font-size: 1.25rem;
    font-weight: bold;
	padding: 2em;
	text-decoration: none;
}

.payment-form-box {
    max-width: 1200px;
    justify-content: center;
}
.column { /* Citation: grid display from https://stackoverflow.com/questions/71177735/splitting-form-into-two-columns */
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #e2ecdf;
    display: inline-block;
    font-size: 1rem;
	padding: 2rem 5rem;
}

.payment-label-box {
    display: grid;
    grid-template-columns: 1fr 1fr;  
    padding: 1rem;
}

.checkout-cart-box {
    background-color: #e2ecdf;
    flex-direction: column;
    justify-content: center;
	padding: 2rem 2rem;
    width: 44rem;
    border-radius: 1rem;
}

.payment-item {
    padding: 1rem 1rem;
}

.checkout-heading {
    text-align: center;
}

.checkout-item {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    padding: 0.5rem 5em;
}

.checkout-item img {
    max-width: 150px;
}

.checkout-name {
    font-size: 18px;
}

.checkout-price {
    display: flex;
    font-size: 18px;
    padding: 1rem 1rem;
}

.checkout-total {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    background-color: white;
    margin: auto 4rem;
    padding: 0.8rem;
    border-radius: 0.5rem;
}

.counter{ /* Citation: learned how to make button from https://uxplanet.org/how-to-create-a-shopping-cart-ui-using-html-css-e5db3cd55aa0 */
    display: flex;
    width: 100%;
    padding: 5rem;
    justify-content: space-between;
    align-items: center;
}

.counter-button { /* Citation: learned how to make button from https://uxplanet.org/how-to-create-a-shopping-cart-ui-using-html-css-e5db3cd55aa0 */
    display: flex;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background-color: #ffffff;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    color: #393433;
}

.counter {
    display: flex;
    font-size: 18px;
    font-weight: bold;
}

.button {
    margin: 1rem;
    font-weight: bold;
    font-size: 18px;
    max-width: fit-content;
    padding: 5rem;
    color: #393433;
    background-color:#e2ecdf;
    border-radius: 1rem;
}

.checkout-button {
    font-size: 18px;
    font-weight: bold;
    max-width: 82%;
    border-radius: 0.5rem;
    margin: 0 4rem;
}

.text {
    height: 20%;
}

.nav-menu {
    display: flex;
    justify-content: center;
    background-color: #e2ecdf;
    padding: 10px;
    border-radius: 15px;
  }
  
  .nav-menu a {
    flex: 1;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    color: #393433;
    font-weight: bold;
    border-radius: 15px;
  }
  
  .nav-menu a:hover, a:focus {
    color: #393433;
    background-color: #c9e4bf;
    border-radius: 15px;
    text-decoration: underline;
  }

  input[type="radio"] {
    accent-color: #f85d5d !important;
    width: 100%;
    height: 1.25em;
  }

  @media (max-width: 80rem) {
    .nav-menu {
      flex-wrap: wrap;
    }
    
    .nav-menu a {
      flex: none;
      width: 50%;
    }

    .footer ul li {
        display: block;
        margin-bottom: 10px;
    }
  }

/* contact FORM */
.contact-form-box {
    justify-content: center; /* default justify is left */
}

.contact-column { /* Citation: grid display from https://stackoverflow.com/questions/71177735/splitting-form-into-two-columns */
    display: grid; /* sorts payment and shipping into 2 columns */
    grid-template-columns: 1fr 1fr;
    background-color: #e2ecdf;
    display: inline-block; 
	padding: 0rem 3rem 3rem 2rem;
}

.contact-label-box { /* for labels and inputs */
    display: grid;
    grid-template-columns: 1fr 1fr; /*splits label and input divs in 2 columns*/
    padding: 1rem; 
    margin-top: 1.5rem;
}

#message {
    padding: 4rem 1rem 0rem 0rem;
}

.about-box {
    background-color: #e2ecdf;
    padding: 2rem 2rem;
    display: flex;
    flex-wrap: wrap;
    margin: 2rem;
}

#about-text .about-box{
    background-color: white;
    color: black;
    padding: 2rem 2rem;
}


