/*
  STYLE GUIDE STYLING 
  Default styling for the style guide 
  /* Citation: everything was learned from lab unless there is separate citation */

body {
  font-family: Arial, Helvetica, sans-serif; /*Citation: from lab*/
  padding: 2rem;
}

section {
  margin-bottom: 50; /*Citation: from lab*/
}

img:hover, img:focus { /*Citation: from lab*/
  border: 0.2rem solid #e3d1d1;
}

img { /*Citation: from lab*/
  max-width: 100%; 
  border: 0.2rem solid rgb(99, 80, 80);
  height: auto;
  border-radius: 1rem;
}

.homepage-img {
  margin: auto;
}

#homepage-img-text {
  color: white;
  position: absolute;
  top: 50%;
  left: 10%;
}

.homepage-button {
  position: absolute;
  top: 75%;
  left: 10%;
}

.text { /*Citation: https://learn.shayhowe.com/html-css/building-forms/*/
  border: 1px solid #2a2727;
   box-shadow: inset 0 1px 1px lightgrey;
  color: lightgrey;
  padding: 8px;
  margin-top: 4px;
  width: 30%;
}

.element {
  padding-bottom: 2rem;
  border-top-width: 0.15rem;
  border-top-style: solid;
  border-top-color: black;
}

h1 {
  font-weight: bold;
  font-size: 3rem;
  color: #393433;
  font-family: 'DM Serif Display', serif;
  max-width: 100%;
}

h2 {
  margin-top: 6rem;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 36px;
  color: #2a2727;
}

h3 {
  margin-top: 1rem;
  font-size: 24px;
}

h4 {
  margin-bottom: 0.25rem;
  font-size: 20px;
}

.content {
  padding-bottom: 30px;
  padding-top: 30px;
}

p {
  margin-top: 0;
}

/*anchored in text links*/
a {
  color: #FFc1ad; 
  text-decoration: none;
  padding-right: 0.5em;
}

a:hover,
a:focus {
  color: #ff8888; 
  text-decoration: underline;
}

a:visited {
  color: #8F3B56;
}

nav a:hover, nav a:focus {
  text-decoration: none;
  color: white;
}

code {
  background-color: #EEE;
  padding: 0.5rem;
  display: block;
}

input {
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.1rem;
  border-style: none;
  margin-bottom: 0.75rem;
}

input[type=submit] { /* Citation: https://html.form.guide/web-form-widget/css3-button-hover-effects/ */
  background-color: #393433;
  width: 100%;
  color: #ffffff;
  padding: 1em 2.5em;
  border: none;
}

input[type=submit]:hover {
  background-color: #ffffff;
  width: 100%;
  color: #393433;
  border: 0.1rem solid #393333;
}


a.button-nav {
  display: inline-block;
  padding: 0.6em 2.4em; 
  background-color: #e2ecdf;
  color: #393433;
  border-radius: 0.25em;
  text-decoration: none;
  -webkit-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
  font-size: 16px;
}

a.button-nav:hover, 
a.button-nav:focus {
  color: #393433;
  background-color: #c9e4bf;
  text-decoration: underline;
}

.counter-button:hover {
  border: 0.1rem solid #393333;
}

.feedback-box{
  margin-top: 2rem;
  padding: 2rem;
  background-color: #e2ecdf;
  border-radius: 0.25em;
  margin-bottom: 30px;
}

.feedback-box textarea {
  width: 100%;
  height: 100px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}


/*Product page Styles*/
.product-title{
  font-weight: 500;
  font-size: 1.5rem;
  padding-bottom: 1rem;
}

.product-price{
  font-weight: 50;
  font-size: 1rem;
}

.product{
  margin-top: 2rem;
}

.center-heading{
  text-align: center;
}

/* 
  INTERACTIVE ELEMENTS -------------------
*/

/* Styling for the navigation button */



/* 
  TEXT ELEMENTS -------------------
*/


/* 
  COMBINED ELEMENTS -------------------
*/


.footer {
  background-color: #E2ECDF;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
}

.footer ul {
  list-style-type: none;
  padding: 0;
}

.footer ul li {
  display: inline-block;
  margin-right: 10px;
}

.footer ul li a {
  color: #333;
  text-decoration: none;
  padding: 5px;
  border: 1px solid #333;
}

.footer .social-media img {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
  margin-right: 20px;
  border: 0px;
}



